@font-face {
    font-family: 'header';
    src: url(Info\ Story.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'book';
    src: url(Book.otf) format('opentype');
    font-weight: normal;
    font-style: normal;

}
body {

}
header {
 background-color: chocolate;
 margin: -25px -8px 15px -10px ;
 border-bottom: 2px solid black;
 height: 150px;

}
header>div {
    background-image: linear-gradient(to bottom, rgb(243, 123, 37), rgba(0, 0, 0, 0.575)
    );
    border-bottom: 1px solid black;
}
header>div>a {
    text-decoration: none;
}
header>div>a>h1 {
    padding-top: 20px;
    color: black; text-align: center;
    font-family: 'header';
}
header>div>a>p {
    font-size: 20px;
    margin-top: 0px;
    color: black;
    margin-bottom: 0px;
    position: relative;
    top: -15px;
    border: 1px solid black;
    width: 130px;
    margin: auto;
    text-align: center;
    background-color: chocolate;
    box-shadow: 0px 0px 3px 0px black;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
menu {
    border: 1px solid black;
    width: 30px;
    margin-left: 80%;
    padding: 6px;
    text-align: center;
    background-color: rgb(171, 84, 23);
    border-radius: 50%;
    position: relative;
    top: -14px;
    color: rgb(000,000,000);
    box-shadow: 0px 0px 3px 0px black;
}
menu:hover {
    cursor: pointer;
    color: rgba(117, 117, 53, 0.555);
}
main>nav#navlogin {
background-color: chocolate;
width: 120px;
position: relative;
right: -74%;
display: none;

}
main>nav>a {
    display: block;
    margin-top: px;
    border: 1px solid black;
    border-top: 0px solid;
    padding: 10px;
    text-align: center;

}
main { 
    background-image: linear-gradient(to top,rgba(255, 255, 0, 0.655),rgba(210, 105, 30, 0.82),rgba(255, 255, 0, 0.543), chocolate); 
    background-repeat: simples, lembre que toda estrutura de no-repeat;
    width: 103.8%;
    background-attachment: fixed;
    margin-left: -10.9px;
    margin-right: 100vw;
    margin-bottom: -50px;
    margin-top: -16px;
    padding: px;
}
div.principal {
    padding-top: 50px;
    margin: auto;
    width: 350px;
    padding-bottom: 50px;
}
div.principal:hover {
}
div.css {
    background-color: chocolate;
    padding: 0px;
    margin-bottom: 0px;
    width: 350px;
    display: block;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 5px 0px black;
    height: 330px;
}

div.css>a {
    text-decoration: none;

}
div.css>a>img {
    height: 150px;
    width: 350px;
    display: inline;   
    background-color: whitesmoke;
 
}
div.css>a>div {
    display: block;
    color: black;
    margin:20px;
    margin-top: -10px;
    padding-top: 5px;
    height: 143px;
    font-size: 20px;
    color: rgba(192, 192, 2, 0.705);
    position: relative;
    top: -10px;
}   
a>div>p {
}
div.desk-css {
    display: none;
}
div.js {
    background-color: rgba(255, 255, 0, 0.671);
    position: relative;
    margin-top: 40px;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 5px 0px black;
}
div.js>a>img {
    width: 350px;
}
div.js>a {
    text-decoration: none;
}
div.js>a>p {
    color: chocolate;
}
div.js>a>p {
    display: block;
    margin: 10px 20px;
    font-size: 20px;
    position: relative;
    top: -15px;
    padding-top: 10px;
}
div.js>a>div>p {
    text-decoration: none;
}

