body{
    background-image: linear-gradient(to top,rgba(255, 255, 0, 0.655),rgba(210, 105, 30, 0.82),rgba(255, 255, 0, 0.543), chocolate); 
    background-repeat: no-repeat;
    width: 95vw;
    background-attachment: fixed;

}
main { 

}
div.principal {
    position: relative;
    margin: auto;
    width: 350px;
}
div.css {
    background-color: chocolate;
    padding: 0px;
    margin-bottom: 0px;
    width: 350px;
    display: block;
    border-radius: 0px 0px 20px 20px;
}

div.css>a {
    text-decoration: none;

}
div.css>a>img {
    height: 150px;
    width: 350px;
    display: inline;   
    background-color: whitesmoke;
 
}
div.css>a>div {
    display: block;
    color: black;
    margin:20px;
    margin-top: -10px;
    padding-top: 5px;
    height: 143px;
    font-size: 20px;
    color: rgba(192, 192, 2, 0.705);
    position: relative;
    top: -10px;
}   
a>div>p {
}
div.desk-css {
    display: none;
}
div.js {
    background-color: rgba(255, 255, 0, 0.671);
    position: relative;
    margin-top: 40px;
    border-radius: 0px 0px 20px 20px;
}
div.js>a>img {
    width: 350px;
}
div.js>a {
    text-decoration: none;
}
div.js>a>p {
    color: chocolate;
}
div.js>a>p {
    display: block;
    margin: 10px 20px;
    font-size: 20px;
    position: relative;
    top: -15px;
    padding-top: 10px;
}
div.js>a>div>p {
    text-decoration: none;
}

