body{
    background-image: linear-gradient(to top,rgba(210, 105, 30, 0.678),rgba(205, 205, 0, 0.616),rgba(210, 113, 44, 0.957)); 
    background-repeat: no-repeat;
    height: 100vh;

}
main { 

}
div.principal {
    position: relative;
    margin: auto;
    border: 1px solid black;
    width: 400px;
}
div.css {
    background-color: chocolate;
    padding: 0px;
    margin-bottom: 0px;
    height: 300px;
    width: 400px;
    display: block;
    border: 1px solid black;
    border-radius: 0px 0px 20px 20px;
}

div.css>a {
    text-decoration: none;

}
div.css>a>img {
    height: 150px;
    width: 400px;
    display: inline;   
    background-color: whitesmoke;
 
}
div.css>a>div {
    display: block;
    color: black;
    margin:20px;
    margin-top: -10px;
    padding-top: 5px;
    height: 143px;
    font-size: 20px;
    color: rgba(192, 192, 2, 0.705);
    position: relative;
    top: -10px;
}   
a>div>p {
    border: 1px solid black;
}
div.desk-css>a>img {
}
div.js {
    background-color: yellow;
    position: relative;
}
div.js>a>div {
    display: block;
    border: 1px solid black;
    margin: opx;
    padding: 0px;
}
div.js>a>div>p {
    text-decoration: none;
}

